@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Mimic native apps, which do not have selectable text by default. */
    user-select: none;

    /* Prevent horizontal and vertical overscroll on elements. */
    overscroll-behavior: none;
    overflow: hidden;
  }
}
